.todo-container {
  color: rgb(11, 11, 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
  list-style-type: none;
  margin-bottom: 10px;

  border-bottom: 5px solid rgb(18, 18, 14);
  margin-left: -40px;
  border-radius: 5px;
}

.delete-bt {
  margin-left: 25px;
  background-color: #d51609;
  height: 30px;
  width: 60px;
  color: white;
  border-radius: 3px;
  margin-left: -50px;
  margin: 10px;
  border: none;
  cursor: pointer;
}
.heading {
  padding-left: 20px;
}
