.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png");
}

.sub-container {
  background-color: #ffffff;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0px 4px 16px 0px;
}

.number {
  font-size: 50px;
  color: #0b69ff;
  font-weight: 100px;
}

button {
  height: 40px;
  width: 80px;
  background-color: #0b69ff;
  border: 0px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
}
